{% extends "base.html" %}

{% block content %}

<h2>{% if form.instance.pk %}Editar{% else %}Novo{% endif %} Usuário</h2>

<form method="post">
{% csrf_token %}

{{ form.as_p }}

<p>
<label for="filial">Filial</label>
<input type="text" name="filial" class="form-control">
</p>

<p>
<label for="setor">Setor</label>
<input type="text" name="setor" class="form-control">
</p>
<p>
<label for="setor">Senha<label>
<input type="text" name="senha" class="form-control">
</p>

<button type="submit" class="btn btn-primary">Salvar</button>

<a href="{% url 'usuario_lis' %}" class="btn btn-secondary">Cancelar</a>

</form>

{% endblock %}